@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-toolbar-title {
    @apply text-xl !important; 
  }

  button {
    @apply bg-background-button text-white font-bold py-2 px-4 rounded shadow-lg uppercase font-sans text-sm;
  }

  .location-heading {
    @apply text-2xl font-bold font-mono;
  }

  body {
    @apply font-serif;
  }

  #navMenu a.active {
    @apply bg-background-venue text-white font-bold py-1 px-2 rounded shadow-lg uppercase font-sans text-sm;
  }

.fc-event {
  @apply bg-background-button text-center;
}

.heading-venueManager {
  @apply text-black font-bold text-2xl text-center uppercase;
}

.divStyle-content {
  @apply flex flex-col bg-background-venue mx-auto text-white p-4 rounded-lg shadow-lg  border border-white ;
}

.body-content {
  @apply max-w-2xl mx-auto mt-8 space-y-10;
}

.venueTitle {
  @apply text-2xl font-bold font-mono;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gear {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgb(13, 214, 194);
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
  position: absolute;
}

.gear:nth-child(2) {
  animation-delay: 0.2s;
}

.gear:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
